build/
out/
target/
release/
release.tar.gz
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

*.log

.DS_Store


#### web ####
# dependencies
web/node_modules/
web_v2/node_modules/


# next.js
web/.next/
web/out/
web_v2/.next/
web_v2/out/
# production
web/build
web_v2/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web_v2/yarn-debug.log*
web_v2/yarn-error.log*

# local env files
*.env.local
*.env.development.local

# vercel
.vercel


api/config-cache/bella-openapi/config-cache/bella-openapi\+default\+application.properties
api/logs/

mysql/data/

redis/data/

system-apikey.txt


node_modules/

nginx/conf.d/dynamic-services.conf

web/.env
web_v2/.env

web_v2/bin


*.tsbuildinfo

private-loggers.xml
/api/server/src/main/resources/application-local.yml